<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Potions</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
            <% for( let index = 0; index < avatar.length; index++ ) { %>
                <tr>
                    <td><%= avatar[index].name %></td>
                    <td><%= avatar[index].cost %></td>
                    <td><%= avatar[index].description %></td>
                    <td><img src="/<%= avatar[index].imageURL %>" width="100px"/></td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <a href="/createAvatar">Create New Avatar</a>

    <h1>Potions</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
            <% for( let index = 0; index < potion.length; index++ ) { %>
                <tr>
                    <td><%= potion[index].name %></td>
                    <td><%= potion[index].cost %></td>
                    <td><%= potion[index].description %></td>
                    <td><img src="/<%= potion[index].imageURL %>" width="100px"/></td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <a href="/createPotion">Create New Avatar</a>
</body>
</html>